{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inmobiliaria</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
  </head>
  <body class="brown lighten-4">

    <nav class="nav-extended brown darken-1">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'inicio' %}">INICIO</a></li>
          <li><a href="{% url 'ventas' %}">VENTAS</a></li>
          <li><a href="{% url 'arrendamientos' %}">ARRENDAMIENTOS</a></li>
          <li><a href="">NOSOSTROS</a></li>
          <li><a href="">CONTACTO</a></li>
        </ul>
      </div>

      <div class="divider"></div>
      <div class="nav-wrapper brown">
        <ul class="left hide-on-med-and-down">
          {% if user.perfil.IDRol.nombre == "Administrador" %}
            <li><a href="{% url 'listar' %}">Inmuebles</a></li>
            <li><a href="{% url 'usuario:listar' %}">Usuarios</a></li>
          {% endif %}
          {% if user.perfil.IDRol.nombre == "Cliente" %}
            <li><a href="{% url 'usuario:userdata' %}">Datos personales</a></li>
          {% endif %}
        </ul>

        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
            <li><h6>Hola {{ user.username }}! - Rol: {{ user.perfil.IDRol.nombre }}</h6></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
          {% else %}
            <li><a href="{% url 'usuario:signup' %}">Registrarse</a></li>
            <li><a href="{% url 'login' %}"><i class="material-icons right">account_circle</i>Ingresar</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="">INICIO</a></li>
      <li><a href="">VENTAS</a></li>
      <li><a href="">ARRENDAMIENTOS</a></li>
      <li><a href="">NOSOSTROS</a></li>
      <li><a href="">CONTACTO</a></li>
    </ul>

    <div class="container">
      {% block container %}
      {% endblock %}
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <script>
        $(document).ready(function(){
        $('select').formSelect();
        });
    </script>

  </body>

</html>
