{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inmobiliaria</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <!--Import estilos propios -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      {% if user.perfil.IDRol.nombre == "Administrador" %}
        <li><a href="{% url 'listar' %}">Inmuebles</a></li>
        <li><a href="{% url 'usuario:listar' %}">Usuarios</a></li>
      {% endif %}
      {% if user.perfil.IDRol.nombre == "Cliente" %}
        <li><a href="{% url 'usuario:userdata' %}">Datos personales</a></li>
      {% endif %}
    </ul>
    <nav class="#" role="navigation">
      <div class="nav-wrapper container">
        <img src="{% static 'img/Logo.jpg' %}" style="width: 67px">
        <a id="logo-container" class="brand-logo">Innova Inmobiliaria</a>
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
                  Hola {{ user.username }}! - Rol: {{ user.perfil.IDRol.nombre }}
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
          {% else %}
            <li><a href="{% url 'usuario:signup' %}">Registrarse</a></li>
            <li><a href="{% url 'login' %}"><i class="material-icons right">account_circle</i>Ingresar</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <nav class="nav-extended brown lighten-4" >
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <li><a href="{% url 'inicio' %}"><span class="black-text text-darken-2">INICIO</span></a></li>
          <li><a href="{% url 'ventas' %}"><span class="black-text text-darken-2">VENTAS</span></a></li>
          <li><a href="{% url 'listar_imagenes' %}"><span class="black-text text-darken-2">ARRENDAMIENTOS</span></a></li>
          <li><a href="{% url 'nosotros' %}"><span class="black-text text-darken-2">NOSOTROS</span></a></li>
          <li><a href=""><span class="black-text text-darken-2">CONTACTO</span></a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="">INICIO</a></li>
      <li><a href="">VENTAS</a></li>
      <li><a href="">ARRENDAMIENTOS</a></li>
      <li><a href="">NOSOTROS</a></li>
      <li><a href="">CONTACTO</a></li>
    </ul>

    <div class="container">
      {% block container %}
      {% endblock %}
    </div>


      {% block container2 %}
      {% endblock %}

    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h4 class="white-text">Ubicación</h4>
              <h6 class="grey-text text-lighten-4">Dirección: </h6>
              <h6 class="grey-text text-lighten-4">Teléfono: </h6>
              <h6 class="grey-text text-lighten-4">Celular: </h6>
              <h6 class="grey-text text-lighten-4">Correo: </h6>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Enlaces</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="{% url 'ventas' %}">VENTAS</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'listar_imagenes' %}">ARRENDAMIENTOS</a></li>
                <li><a class="grey-text text-lighten-3" href="{% url 'nosotros' %}">NOSOTROS</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">CONTACTO</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Redes Sociales</h5>
              <ul>
                <li><i class="material-icons">android</i></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Todos los derechos reservados
          <a class="grey-text text-lighten-4 right">Diseñado y desarrollado por AVWeb</a>
          </div>
        </div>
    </footer>

  </body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

  <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('select').formSelect();
        $('.tabs').tabs();
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, {
          indicators: false,
          height: 450,
        });
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, {
          responsiveThreshold: 0
        });
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {
          alignment: 'bot'
        });
      });
  </script>
</html>
