{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inmobiliaria</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
    <!--Import estilos propios -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      {% if user.perfil.IDRol.nombre == "Asesor" %}
        <li><a href="{% url 'gestion' %}">Gestón de inmuebles</a></li>
        <li><a href="{% url 'listado' %}">Inmuebles</a></li>
      {% endif %}
    </ul>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <img src="{% static 'img/Logo5.png' %}" style="width: 100px; height: 64px">
        <a id="logo-container" class="brand-logo">
          <span class="black-text text-darken-2">Innova Inmobiliaria</span></a>
        <ul class="right hide-on-med-and-down blue-text">
          {% if user.is_authenticated %}
          <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
              <span class="black-text text-darken-2">
                  Hola {{ user.username }}! - Rol: {{ user.perfil.IDRol.nombre }}
              </span>
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
              <a href="{% url 'logout' %}">
                <span class="black-text text-darken-2">Cerrar Sesión</span>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'usuario:signup' %}">
                <span class="black-text text-darken-2">Registrarse</span>
              </a>
            </li>
            <li>
              <a href="{% url 'login' %}" class="black-text">
                <i class="material-icons right">account_circle</i>
                <span class="black-text text-darken-2">Ingresar</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <nav class="nav-extended red darken-2 white-text" >
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <li><a href="{% url 'inicio' %}"><b>INICIO</b></a></li>
          <li><a href="{% url 'ventas' %}"><b>VENTAS</b></a></li>
          <li><a href="{% url 'arrendamientos' %}"><b>ARRENDAMIENTOS</b></a></li>
          <li><a href="{% url 'nosotros' %}"><b>NOSOTROS</b></a></li>
          <li><a href="{% url 'contacto' %}"><b>CONTACTO</b></a></li>
          {% if user.perfil.IDRol.nombre == "Asesor" %}
            <li><a href="{% url 'listar' %}"><b>MisInmuebles</b></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="">INICIO</a></li>
      <li><a href="">VENTAS</a></li>
      <li><a href="">ARRENDAMIENTOS</a></li>
      <li><a href="">NOSOTROS</a></li>
      <li><a href="">CONTACTO</a></li>
    </ul>

    <div class="container">
      {% block container %}
      {% endblock %}
    </div>


      {% block container2 %}
      {% endblock %}

    <footer class="page-footer red lighten-1 white-text">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h4>Ubicación</h4>
              <h6>Dirección: Calle 64A N°21-10 Oficina 202 Ed Portal del Cable</h6>
              <h6>Teléfono: 8894521</h6>
              <h6>Celular: 3165874219</h6>
              <h6>Correo: inmobiliariainnova@gmail.com</h6>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Enlaces</h5>
              <ul>
                <li><a class="white-text text-lighten-3" href="{% url 'ventas' %}">VENTAS</a></li>
                <li><a class="white-text text-lighten-3" href="{% url 'arrendamientos' %}">ARRENDAMIENTOS</a></li>
                <li><a class="white-text text-lighten-3" href="{% url 'nosotros' %}">NOSOTROS</a></li>
                <li><a class="white-text text-lighten-3" href="{% url 'contacto' %}">CONTACTO</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Redes Sociales</h5>
              <ul>
                <li>
                  <img src="{% static 'img/Icono Facebook.png' %}" style="width:24px; height:24px;">
                  <img src="{% static 'img/Icono Instagram.png' %}" style="width:30px; height:24px;">
                  <img src="{% static 'img/Icono Twitter.png' %}" style="width:24px; height:24px;">
                  <img src="{% static 'img/Icono Whatsapp.png' %}" style="width:32px; height:24px;">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Todos los derechos reservados
          <a class="grey-text text-lighten-4 right">Diseñado y desarrollado por AVWeb</a>
          </div>
        </div>
    </footer>

  </body>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

  <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
        $('select').formSelect();
        $('.tabs').tabs();
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, {
          indicators: false,
          height: 450,
        });
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems, {
          responsiveThreshold: 0
        });
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {
          alignment: 'bot'
        });
      });
  </script>
</html>
