{% extends 'base/base.html' %}

{% load static %}

{% load humanize %}

{% block container %}

<h2 class="header center black-text text-lighten-3">Propiedades</h2>

<div class="row">
  {% for data in gestion %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <table class="highlight">
            {% for i in data.inmueble.all %}
              <tr><td>Inmueble: {{ i.direccion }}</td></tr>
            {% endfor %}

            {% for u in data.usuario.all %}
              <tr><td>Cliente: {{ u.first_name }} {{ u.last_name }}</td></tr>
            {% endfor %}

            {% if data.tipo_cliente == True %}
              <td>Tipo de cliente: Propietario</td>
            {% else %}
              <td>Tipo de cliente: Arrendatario</td>
            {% endif %}

            <tr>
              <td>
                <a href="{% url 'editar_gestion' data.id %}" class="btn-floating btn-small waves-effect waves-light red darken-4">
                  <i class="small material-icons">create</i>
                </a>
                <a href="{% url 'eliminar_gestion' data.id %}" class="btn-floating btn-small waves-effect waves-light red darken-4">
                  <i class="small material-icons">delete_forever</i>
                </a>
              </td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
