{% extends 'base/base.html' %}

{% load static %}

{% load humanize %}

{% block container %}

<h2 class="header center black-text text-lighten-3">Propiedades</h2>

<div class="row">
  {% for data in gestion %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <table class="highlight">
            {% for i in data.inmueble.all %}
              <tr><td><b>Inmueble:</b> {{ i.direccion }}</td></tr>
            {% endfor %}

            {% for u in data.usuario.all %}
              <tr><td><b>Cliente:</b> {{ u.first_name }} {{ u.last_name }}</td></tr>
            {% endfor %}

            {% if data.tipo_cliente == True %}
              <td><b>Tipo de cliente:</b> Propietario</td>
            {% else %}
              <td><b>Tipo de cliente:</b> Arrendatario</td>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
