{% extends 'base/base.html' %}

{% load static %}

{% block container %}

<div class="section">
  <h4>Listado de inmuebles</h4>
  <!--Botón para agregar nuevo inmueble-->

  <a class="btn-floating right btn-medium waves-effect waves-light red darken-4 " href="{% url 'crear' %}">
    <i class="material-icons">add_box</i>
  </a>
</div>

<br>

<table class="responsive-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo de oferta</th>
        <th>Tipo de inmueble</th>
        <th>Barrio</th>
        <th>Dirección</th>
        <th>Precio</th>
        <th>Alcoba</th>
        <th>Baño</th>
        <th>Parqueadero</th>
        <th>Disponible</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for data in inmueble %}
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.IDTipo_de_oferta.nombre }}</td>
        <td>{{ data.IDTipo_de_inmueble.nombre }}</td>
        <td>{{ data.IDBarrio.nombre }}</td>
        <td>{{ data.direccion }}</td>
        <td>{{ data.precio }}</td>
        <td>{{ data.alcoba }}</td>
        <td>{{ data.baño }}</td>

        {% if data.parqueadero == True %}
          <td>SI</td>
        {% else %}
          <td>NO</td>
        {% endif %}

        {% if data.disponible == True %}
          <td>SI</td>
        {% else %}
          <td>NO</td>
        {% endif %}

        <td>
          <a href="{% url 'editar' data.id %}" class="btn-floating btn-small waves-effect waves-light red darken-4">
            <i class="small material-icons">create</i>
          </a>
        </td>        
      </tr>
      {% endfor %}
    </tbody>
</table>


<!--Botón para agregar nuevo inmueble-->
<!-- <div class="fixed-action-btn">
  <a href="{% url 'crear' %}" class="btn-floating btn-large teal darken-2">
    <i class="large material-icons">add</i>
  </a>
</div> -->



{% endblock %}
