{% extends 'base/base.html' %}

{% load static %}

{% block container2 %}

<div class="parallax-container">
    <div class="container">
      <br><br>
      <h1 class="header left black-text text-lighten-2">Bienvenido</h1>
      <br><br>
    </div>
    <div class="parallax"><img src="{% static 'img/banner2.jpg' %}"></div>
</div>

<!-- <div class="section">
  <div class="row">
    <div class="col s12 m5 l3">
      <div class="card">
        <form method="get" action="{% url 'buscar' %}">
          {% csrf_token %} -->
          <!-- {{form.as_p}} -->
          <!-- <div class="col m11">
            <div class="input-field">
              <i class="material-icons prefix">location_city</i>
              <select id="barrio" name="barrio">
                <option value="" disabled selected>Seleccione</option>
                  {% for b in barrios %}
                     <option value="{{ b.id }}">{{ b.nombre }}</option>
                  {% endfor %}
              </select>
              <label for="barrio">Barrio</label>
            </div>
          </div>

          <div class="col m11">
            <div class="input-field">
              <i class="material-icons prefix">location_city</i>
              <select id="tipo_inmueble" name="tipo_inmueble" required>
                <option value="" disabled selected>Seleccione</option>
                  {% for d in tipo_inmueble %}
                    <option value="{{ d.id }}">{{ d.nombre }}</option>
                  {% endfor %}
              </select>
              <label for="tipo_inmueble">Tipo de inmueble</label>
            </div>
          </div>

          <div class="col m11">
            <div class="input-field">
              <i class="material-icons prefix">local_offer</i>
              <select id="tipo_oferta" name="tipo_oferta" required>
                <option value="" disabled selected>Seleccione</option>
                  {% for d in tipo_oferta %}
                    <option value="{{ d.id }}">{{ d.nombre }}</option>
                  {% endfor %}
               </select>
               <label for="tipo_oferta">Tipo de oferta</label>
            </div>
          </div> -->


          <!-- <div class="input-field col l3 col-m6">
            <i class="material-icons prefix">monetization_on</i>
            <input id="precio" type="number" name="precio" class="validate" required>
            <label for="precio">Precio</label>
          </div> -->

          <!-- <div class="input-field" style="text-align:center;">
            <button class="btn waves-effect waves-light deep-orange darken-4" name="action" type="submit">Enviar
              <i class="material-icons right">check</i>
            </button>
          </div><br>

        </form>
      </div>
    </div>
  </div>
</<section> -->



<div class="section white">
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_one</i></h2>
          <h5 class="center">Arrendamientos</h5>
          <p class="center ligth">Conoce paso a paso el proceso para el arrendamiento de tu propiedad.</p>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_one</i></h2>
          <h5 class="center">Ventas</h5>
          <p class="center ligth">Conoce paso a paso el proceso para la venta de tu propiedad.</p>
        </div>
      </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'img/banner3.jpg' %}"></div>
</div>

{% endblock %}
