{% extends 'base/base.html' %}

{% load static %}

{% block container2 %}

<div class="parallax-container">
    <div class="container">
      <br><br>
      <h1 class="header left black-text text-lighten-2">Bienvenido</h1>
      <br><br>
    </div>
    <div class="parallax"><img src="{% static 'img/banner2.jpg' %}"></div>
</div>

<div class="section white">
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_one</i></h2>
          <h5 class="center">Arrendamientos</h5>
          <p class="center ligth">Conoce paso a paso el proceso para el arrendamiento de tu propiedad.</p>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_one</i></h2>
          <h5 class="center">Ventas</h5>
          <p class="center ligth">Conoce paso a paso el proceso para la venta de tu propiedad.</p>
        </div>
      </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'img/banner3.jpg' %}"></div>
</div>

{% endblock %}
