{% extends 'base/base.html' %}

{% block container %}

<br>
<h2 class="header center black-text text-lighten-3">CONTÁCTANOS</h2>
<br>
  <div class="divider"></div>
  <div class="section">
    <div class="row">
        <div class="col s12">
          <p class="center-align">Para la INMOBILIARIA es muy importante acompañarte en la decisión de compra,
            arriendo o consignación de un inmueble por eso hemos creado este canal de comunicación,
            te invitamos a consultar nuestra política de protección de datos, una vez diligencies el siguiente
            formulario estaremos poniéndonos en contacto contigo y asi hacer más fácil el proceso.</p>
            <div class="center-align">
              <a href="https://drive.google.com/file/d/1spZrE7rnSb0aH1zjOZEzrU08cIYsUHBV/view?usp=sharing"
                  class="btn deep-orange darken-4 center-align">Autorización</a>
            </div>
        </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="row">
      <div class="col s12 m8">
        <div class="row card-panel">
          <form method="post">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <div class="input-field col l6 col-m6">
              <i class="material-icons prefix">home</i>
              <input id="inmueble" type="text" name="inmueble" class="validate" required>
              <label for="inmueble">Código del inmueble</label>
            </div>

            <div class="input-field col l6 col-m6">
              <i class="material-icons prefix">account_circle</i>
              <input id="usuario" type="text" name="usuario" class="validate" required>
              <label for="usuario">Nombre</label>
            </div>

            <div class="clearfix"></div>
            <div class="input-field col l6 col-m6">
              <i class="material-icons prefix">phone</i>
              <input id="telefono" type="number" name="telefono" class="validate" required>
              <label for="telefono">Teléfono</label>
            </div>

            <div class="clearfix"></div>
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" name="email" class="validate" required>
              <label for="email">Correo Electrónico</label>
              <span class="helper-text" data-error="Incorrecto" data-success="Correcto">
                Ingrese un correo electrónico válido
              </span>
            </div>

            <div class="clearfix"></div>
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <input id="asunto" type="text" name="asunto" class="validate" required>
              <label for="asunto">Asunto</label>
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">subject</i>
              <textarea id="mensaje" name="mensaje" class="materialize-textarea"></textarea>
              <label for="mensaje">Mensaje</label>
            </div>

            <div class="input-field col s12" style="text-align:center;">
              <button class="btn waves-effect waves-light deep-orange darken-4" type="submit">
                Enviar mensaje
              </button>
            </div>

          </form>
        </div>
      </div>
      <div class="col s12 m4" style="padding-left: 50px">
        <h5>Dirección</h5>
        <span class="black-text">Calle 64A N°21-10  Oficina 202 Ed Portal del Cable</span>
        <br><br>
        <h5>Teléfonos</h5>
        <span class="black-text">8894521</span><br>
        <span class="black-text">3165874219</span>
        <br><br>
        <h5>Correo</h5>
        <span class="black-text">inmobiliariainnova@gmail.com</span>
        <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.286659584001!2d-75
                    .48769488479884!3d5.0572101963293505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
                    .1!3m3!1m2!1s0x8e47657e94bb07a9%3A0xd1c0632036b3e76f!2sCl%2064A%20%23%2321
                    -10%2C%20Manizales%2C%20Caldas!5e0!3m2!1ses!2sco!4v1586475888227!5m2!1ses!2sco"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0">
        </iframe>
      </div>
    </div>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}


{% endblock %}
