<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body style="width:80%; background-color: #f8f9fa;">
    <div class="text" style="padding:20px; text-align: center;">
      <div class="card-panel">
        <ul class="collection with-header">
          <li class="collection-header"><h2>Usted ha recibido un mensaje de un usuario:</h2></li>
          <li class="collection-item">Nombre: {{ nombre }}</li>
          <li class="collection-item">Apellido: {{ apellido }}</li>
          <li class="collection-item">Teléfono: {{ telefono }}</li>
          <li class="collection-item">Correo Electrónico: {{ email }}</li>
        </ul>
        <dl>
          <dt>Mensaje: </dt>
          <dd>{{ mensaje }}</dd>
        </dl>
      </div>
    </div>
  </body>
</html>
