<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body style="width:80%; background-color: #f8f9fa;">
    <div class="text" style="padding:20px; text-align: center;">
      <h2>Usted ha recibido un mensaje de un usuario:</h2><br>
          <h3><b>Nombre:</b> {{ nombre }}</h3>
          <h3><b>Apellido:</b> {{ apellido }}</h3>
          <h3><b>Teléfono:</b> {{ telefono }}</h3>
          <h3><b>Correo Electrónico:</b> {{ email }}</h3><br>
          <h3><b>Mensaje:</b> {{ mensaje }}</h3>
      </div>
    </div>
  </body>
</html>
